* {
	font-family: 'Exo 2';
}

:root {
	--dark: #ccc;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	margin: 0;
	color: var(--dark);
	background-color: #444;
}
#logo {
	position:fixed;
	top:1rem;
	left:1rem;
}
#options {
	display:flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	right:0;
	color:#222;
	z-index: 30;
	margin:1rem;
}
/* input {
	display:none;
} */
label > input:checked {
	background-color: #f1619d;
	color:white;
}

button {
	cursor: pointer;
	background-color: #00000045;
	color:#ccc;
	border: none;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

#words {
	display: none;
	flex-wrap: wrap;
	max-width: 80vw;
	max-height: 35vh;
	position:fixed;
	bottom:2rem;
	overflow-y: scroll;
	scroll-behavior: smooth;
	white-space: nowrap;
	user-select: none;
}

#words::-webkit-scrollbar {
	width: 0 !important
}

#tempWord {
	position: fixed;
	top: 15vh;
	font-size: 5rem;
	text-transform: uppercase;
}

#tempWord,
#score,
.cell,
#timer,
#wordsMade {
	color: var(--dark);
	font-weight: bolder;
}
#wordsMade {
	font-size: 3rem;
}
#scoreWrap {
	position: fixed;
	top: 15vh;
	left: 15vw;
	display:flex;
	flex-direction: column;
}

#score {
	font-size: 5rem;
	color: var(--dark);
}

#timer {
	font-size: 5rem;
	user-select: none;
	color: var(--dark);
}

#wrapper {
	z-index: 11;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	gap: 5px;
	width: calc(min(40vw, 40vh));
	height: calc(min(40vw, 40vh));
	transition: all 0.3s linear;
}

button {
	padding:1rem 2rem;
	font-size:1.3rem;
	border:2px solid #444;
}
button:hover {
	border:2px solid #888;
}
.cell {
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	width: 100%;
	height: 100%;
	transition: all 0.3s linear;
	font-size:3rem;
}

.used {
	background-color: #ffffff22;
	transition: none;
}

.val {
	display: none;
}

.tar {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
	width: 70%;
	height: 70%;
	border-radius: 50%;
	color: darksmoke;
}

.bright {
	color: rgba(255, 255, 255, 0.8);
}

.good {
	background-color: #bada5565;
}

.bad {
	background-color: rgba(250, 50, 50, 0.4);
}

.played {
	background-color: #0a3755c0;
}

.hide {
	display: none;
}